@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-bg {
    transition: none !important;
    position: absolute;
    inset: 0;

    background-color: var(--background);
    background-image:
        linear-gradient(to right, #73737350 1px, transparent 1px),
        linear-gradient(to bottom, #73737350 1px, transparent 1px);

    background-size: 50px 50px;
    mask-image: radial-gradient(
        ellipse 100% 50% at 50% 0,
        #000 70%,
        transparent 110%
    );
}

@keyframes grid-lines {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position:
            50px 0,
            0 -50px;
    }
}

@utility animate-grid-lines {
    animation: grid-lines 2s linear infinite;
}
