@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.grid-bg {
  position: absolute;
  inset: 0;

  background-color: var(--background);
  background-image: linear-gradient(to right, #73737350 1px, transparent 1px),
    linear-gradient(to bottom, #73737350 1px, transparent 1px);

  background-size: 50px 50px;
  mask-image: radial-gradient(
    ellipse 40% 40% at 90% 100%,
    #000 20%,
    transparent 110%
  );
}

.grid-bg-inv {
  position: absolute;
  inset: 0;

  background-color: var(--background);
  background-image: linear-gradient(to right, #73737350 1px, transparent 1px),
    linear-gradient(to bottom, #73737350 1px, transparent 1px);

  background-size: 50px 50px;
  mask-image: radial-gradient(
    ellipse 40% 40% at 10% 0%,
    #000 20%,
    transparent 110%
  );
}
